.heroBanner{ 
  display: block;
  position: relative;
  top:0;
  left:0;
  width: 100%;
  height: 601px;
  margin-bottom: 80px;
}
.grad{
  position: absolute;
  display: block;
  background: linear-gradient(180deg, #0B6EDE 25.41%, rgba(11, 110, 222, 0) 100%);
  opacity: 0.7;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.heroBanner img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.lrgText{
  margin-top:126px;
}
.lrgText h1{
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.9;
}

.smText{
  padding-top:20px;
  width:600px;
  margin: auto;
}

.smText p{
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  opacity: 0.9;
  color: #FFFFFF;
}