
.valuesContainer{
  display:grid;
  justify-content: center;
  grid-template-columns: repeat(2, 351px);
  grid-column-gap: 218px;
  grid-row-gap: 80px;
  margin-left:auto;
  margin-bottom: 80px;
}



